.btn{
	color:$main_black;
	border:1px solid $main_black;
	height:40px;
	line-height:40px;
	padding:0 20px;
	text-transform:uppercase;
	display: inline-block;
	text-align: center;
	transition:0.5s;
	&:hover{
		color:white;
		background: $main_black;
	}
	.post &{
		margin-top:10px;
	}
}