// SEARCH FORM
#searchform{
	width: 80%;
	margin:30px auto;
	position:relative;
	border:1px solid $secondary_grey;
	@include breakpoint(large){
		width: 60%;
	}
	&::after{
		font-family:'FontAwesome';
		content:'\f002';
		color:$main_black;
		position:absolute;
		top:8px;
		right:12px;
		border-left:1px solid $secondary_grey;
		padding-left:12px;
	}
	input[type=text]{
		width: 100%;
		border:none;
		padding:10px;
	}
	input[type=submit]{
		display: none;
	}
	.widget &{
		margin:0;
		width:100%;
	}
}


// CONTACT FORM
.wpcf7-form{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
	p{
		width: 100%;
		font-family:'Playfair Display', sans-serif;
		color:$main_grey;
		@include breakpoint(large){
			width: 31%;
		}
		span{
			input, textarea{
				width: 100%;
				padding:10px;
				margin-top:10px;
				border:1px solid $secondary_grey;
				border-radius:0;
			}
			textarea{
				height:200px;
				@include breakpoint(large){
					height:350px;
				}
			}
		}
		&:nth-of-type(4){
			width: 100%;
		}
		&:last-of-type{
			width: 100%;
			text-align: right;
			input{
				background: white;
				color:$main_black;
				border:1px solid $main_black;
				font-family:'Raleway';
				height:40px;
				line-height:40px;
				padding:0 20px;
				text-transform:uppercase;
				display: inline-block;
				text-align: center;
				transition:0.5s;
				text-decoration: none;
				&:hover{
					color:white;
					background: $main_black;
				}
			}
			.ajax-loader{
				display: none;
			}
		}
	}
}