#searchform{
	width: 60%;
	margin:30px auto;
	position:relative;
	// padding:10px;
	border:1px solid $secondary_grey;
	&::after{
		font-family:'FontAwesome';
		content:'\f002';
		color:$main_black;
		position:absolute;
		top:8px;
		right:12px;
		border-left:1px solid $secondary_grey;
		padding-left:12px;
	}
	input[type=text]{
		width: 100%;
		border:none;
		padding:10px;
	}
	input[type=submit]{
		display: none;
	}
}