.slider{
	.slick-dots{
		padding:0;
		text-align: center;
		margin-bottom:0;
		li{
			position:relative;
			display: inline-block;
			width: 20px;
			height: 20px;
			margin:0 5px;
			padding:0;
			cursor:pointer;
			vertical-align:middle;
			&.slick-active{
				button::before{
					background-color: $main_black;
				}
			}
			button{
				@include font-size(0);
				display: block;
				width: 20px;
				height: 20px;
				padding:5px;
				cursor:pointer;
				outline: none;
				background-color: transparent;
				&::before{
				    @include font-size(6);
				    line-height: 20px;
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 20px;
				    height: 20px;
				    content: '';
				    border:1px solid $main_black;
				    background-color: $main_grey;
				    border-radius: 50%;
				}
			}
		}
	}
}

.slider-item{
	background: $main_black;
	padding:40px;
	color:white;
	text-align: center;
	font-family:'Playfair Display', sans-serif;
	h3{
		font-family:'Raleway', sans-serif;
		margin-bottom:0;
	}
	p{
		color:white;
		&:first-of-type{
			margin-top:0;
		}
		&:last-of-type{
			color:$main_grey;
			margin:0;
		}
	}
}

.project-slider{
	position:relative;
	button{
		@include font-size(0);
		&::before{
			font-family:'FontAwesome';
			position:absolute;
			z-index:1;
			@include font-size(30);
			bottom:70px;
			color:#555;
		}
		&.slick-prev::before{
			content:'\f0d9';
			right:80px;
		}
		&.slick-next::before{
			content:'\f0da';
			right:60px;
		}
	}		
}