body{
	font-family:'Raleway';
	color:$main_black;
}
h1{
	font-weight:500;
	color:white;
	text-transform:uppercase;
	margin:0;
	@include font-size(30);
	@include breakpoint(large){
		@include font-size(50);
	}
}
h2{
	font-family:'Playfair Display', sans-serif;
	font-weight:400;
	.page-content &{
		margin:0;
	}
}
h3{
	font-weight:600;
	.error-404 &{
		text-transform: uppercase;
	}
}
p{
	.page-header &{
		color:white;
		margin:0;
	}
	.site-footer &{
		@include font-size(14);
		margin:0;
	}
	.page-content &{
		margin-bottom:0;
		.error-404 &{
			margin:0;
			&:last-of-type{
				color:$main_grey;
			}
		}
	}
}
.italic{
	font-family:'Playfair Display', sans-serif;
	letter-spacing:1px;
}
.section-padding{
	padding:5% 0;
	@include breakpoint(large){
		padding:2% 0;
	}
}