body{
	font-family:'Raleway';
	font-weight:500;
	color:$main_black;
}
h1{
	font-weight:600;
	color:white;
	text-transform:uppercase;
	margin:0;
	@include font-size(30);
	@include breakpoint(large){
		@include font-size(50);
	}
}
p{
	.front-page-hero &{
		font-family:'Playfair Display', sans-serif;		
	}
	.page-header &{
		font-family:'Playfair Display', sans-serif;
		color:white;
		letter-spacing:1px;
		margin:0;
	}
	.site-footer &{
		@include font-size(14);
		font-family:'Playfair Display', sans-serif;
		letter-spacing:1px;
		margin:0;
	}
}
.section-padding{
	padding:5% 0;
	@include breakpoint(large){
		padding:2% 0;
	}
}