.error-404-wrapper{
	padding:5px;
	border:1px solid $main_black;
	.error-404{
		border:1px solid $main_black;
		text-align: center;
		padding:20px;
		.border{
			border:1px solid $main_black;
			width: 50px;
			margin:15px auto;
		}
		a{
			color:$main_black;
			font-weight:bold;
		}
	}
}