.error-404-wrapper{
	padding:5px;
	border:1px solid $main_black;
	.error-404{
		border:1px solid $main_black;
		text-align: center;
		padding:20px;
		.error-404-header{
			font-weight:bold;
			margin:0;
			letter-spacing:1px;
			text-transform:uppercase;
		}
	}
}