.site-footer{
	padding:10px 0;
	background: $main_black;
	color:white;
	margin-top:40px;
	.columns{
		@include breakpoint(large){
			display:flex;
			align-items:center;
			justify-content:space-between;
		}
	}
}

.social-media{
	ul{
		list-style:none;
		padding:0;
		margin:0;
		li{
			display: inline-block;
			background: white;
			border-radius:50%;
			height:30px;
			width: 30px;
			line-height: 30px;
			text-align: center;
			a{
				color:$main_black;
				width: 100%;
				height: 100%;
				display: block;
				i{
					vertical-align: middle;
				}
			}
		}
	}
}