.page-header{
	background-color: $main_black;
	height:200px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	@include breakpoint(large){
		height:250px;
	}
}

.page-header-simple{
	background: $main_black;
	padding:10px 0;
}

.page-content{
	text-align: center;
	.home &{
		text-align: left;
		a{
			font-family:'Playfair Display', sans-serif;
			text-decoration:none;
			color:$main_grey;
			border-bottom:1px solid $main_black;
			transition:0.5s;
			&:hover{
				color:$main_black;
			}
		}
	}
}