.post{
	border-bottom:1px solid $secondary_grey;
	margin-bottom:40px;
	padding-bottom:40px;
	&:last-of-type{
		margin-bottom:0;
	}
	.entry-title{
		margin-top:0;
		a{
			position:relative;
			color:$main_black;
			&::before{
				content:'';
				position: absolute;
				left:0;
				bottom:-20px;
				height:2px;
				width: 50px;
				border-bottom:2px solid $main_black;
			}
		}
		.single-post &{
			position:relative;
			color:$main_black;
			@include font-size(24);
			&::before{
				content:'';
				position: absolute;
				left:0;
				bottom:-20px;
				height:2px;
				width: 50px;
				border-bottom:2px solid $main_black;
			}
		}
	}
	.entry-meta{
		margin-top:35px;
		font-family:'Playfair Display';
		color:$main_grey;
		letter-spacing:1px;
		a{
			color: $main_grey;
			letter-spacing:1px;
		}
	}
	.single-post &{
		border-bottom:none;
		margin:0;
		padding:0;
	}
}

.posts-navigation{
	margin-top:20px;
	h2{
		display: none;
	}
	.nav-links{
		display:flex;
		justify-content:space-between;
		a{
			color:$main_grey;
			text-decoration: none;
			font-family:'Playfair Display', sans-serif;
		}
		.nav-previous{
			a{
				&::before{
					font-family:'FontAwesome';
					content:'\f0d9';
					margin-right:10px;
					color:$main_black;
				}
			}
		}
		.nav-next{
			a{
				&::after{
					font-family:'FontAwesome';
					content:'\f0da';
					color:$main_black;
					margin-left:10px;
				}
			}
		}
	}
}