.post{
	border-bottom:1px solid $secondary_grey;
	margin-bottom:40px;
	padding-bottom:40px;
	&:last-of-type{
		margin-bottom:0;
	}
	.entry-title{
		margin-top:0;
		a{
			position:relative;
			color:$main_black;
			text-decoration: none;
			&::before{
				content:'';
				position: absolute;
				left:0;
				bottom:-20px;
				height:2px;
				width: 50px;
				border-bottom:2px solid $main_black;
			}
		}
		.single-post &{
			position:relative;
			color:$main_black;
			@include font-size(24);
			&::before{
				content:'';
				position: absolute;
				left:0;
				bottom:-20px;
				height:2px;
				width: 50px;
				border-bottom:2px solid $main_black;
			}
		}
	}
	.entry-meta{
		margin-top:35px;
		font-family:'Playfair Display';
		color:$main_grey;
		letter-spacing:1px;
		display:flex;
		justify-content:space-between;
		.share{
			p{
				display:inline;
				padding-right:5px;
			}
			a{
				i{
					color:$main_black;
				}
			}
		}
		a{
			color: $main_grey;
			letter-spacing:1px;
			text-decoration: none;
		}
	}
	.featured-image{
		margin:30px 0;
	}
	.single-post &{
		border-bottom:none;
		margin:0;
		padding:0;
	}
}

.archive .projects{
	position:relative;
	img{
		width: 100%;
	}
	a{
		text-align: center;
		display:flex;
		align-items:center;
		flex-direction: column;
		justify-content: center;
		margin:20px;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		transition:0.5s;
		color:white;
		background: rgba(0, 0, 0, 0.5);
		text-decoration: none;
		opacity:0;
		&:hover{
			opacity:1;
		}
		.entry-title{
			font-family:'Raleway', sans-serif;
			margin:0;
			width: 100%;
			text-transform: uppercase;
			@include font-size(16);
		}
		.post-meta{
			font-family:'Playfair Display', sans-serif;
		}
	}
}

.single-projects{
	.entry-header{
		h1{
			color:$main_black;
			@include font-size(30);
			text-align: center;
			margin-bottom:10px;
		}
	}
	.single-project-info{
		p:first-of-type{
			margin-bottom:0;
		}
		p:last-of-type{
			font-family:'Playfair Display', sans-serif;
			color:$main_grey;
			margin-top:0;
		}
	}
	.related-posts{
		h2{
			margin:0;
			text-align: center;
			width: 100%;
			font-family:'Raleway', sans-serif;
			padding-bottom:10px;
		}
	}
	.type-post{
		margin-top:30px;
		padding-bottom:0;
		border-bottom:none;
		.entry-title{
			text-align: left;
			margin:0;
			font-family:'Raleway', sans-serif;
			@include font-size(20);
			width: 100%;
		}
		.entry-content{
			padding-top:10px;
		}
	}
}

.posts-navigation{
	margin-top:20px;
	h2{
		display: none;
	}
	.nav-links{
		display:flex;
		justify-content:space-between;
		a{
			color:$main_grey;
			text-decoration: none;
			font-family:'Playfair Display', sans-serif;
		}
		.nav-previous{
			a{
				&::before{
					font-family:'FontAwesome';
					content:'\f0d9';
					margin-right:10px;
					color:$main_black;
				}
			}
		}
		.nav-next{
			a{
				&::after{
					font-family:'FontAwesome';
					content:'\f0da';
					color:$main_black;
					margin-left:10px;
				}
			}
		}
	}
	.single &{
		border-top:1px solid $secondary_grey;
		border-bottom:1px solid $secondary_grey;
	}
	.single-projects &{
		border:none;
		.nav-links{
			width: 300px;
			padding:0;
			margin:0 auto;
			display:flex;
			align-items:center;
			justify-content: initial;
			position:relative;
			left:-12px;
			img{
				height:100%;
				padding:10px;
				border:1px solid $secondary_grey;
				margin:0 20px;
			}
		}
	}
}