.search-no-results{
	.no-results{
		.page-content{
			text-align: center;
		}
	}
}

.search{
	article{
		border-bottom:none;
		padding-bottom:0;
		margin-bottom:40px;
		.entry-title{
			margin:0;
			a{
				color:$main_black;
				text-decoration: none;
			}
		}
		.entry-summary{
			p{
				margin-bottom:0;
			}
		}
	}
}